<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="base_url" value="https://www.boots.com/"/>
		<add key="signinpage_url" value="https://www.boots.com/LoginRequestDispatcher"/>
		<add key="no7shopall_url" value="https://www.boots.com/no7-shop-all"/>
	</appSettings>
</configuration>
